<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net452" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.25.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.4.1" targetFramework="net452" />
  <package id="SpecRun.Runner" version="1.8.5" targetFramework="net452" />
  <package id="SpecRun.SpecFlow" version="1.8.5" targetFramework="net452" />
  <package id="SpecRun.SpecFlow.2-4-0" version="1.8.5" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver" version="26.14.313457.1" targetFramework="net452" />
  <package id="WebDriver.ChromeDriver.win32" version="81.0.4044.20" targetFramework="net452" />
</packages>